In [21]:
%load_ext sql
%sql sqlite:///

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@'

Problem Set 2
=======


### Instructions / Notes:

**_Read these carefully_**

* This problem set _does not_ come with a dataset to load; instead, make your own instances of tables, either as solutions to the problems or for testing solutions to the problems.
* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* **See Piazza for submission instructions**
* _Have fun!_

Problem 1
---------

**_[20 points total]_**

For each part of this problem you will need to provide a _single_ SQL query which will check whether a certain condition holds on a specific instance of a relation, in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  (If the condition _doesn't hold_, your query should return something non-empty, but it doesn't matter what this is).

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **could** hold in general for the relation, given any specific set of tuples_.

You may assume that there will be no `NULL` values in the tables, **and you may assume that the relations are _sets_ rather than multisets**, but otherwise your query should work for general instances.  We define the schemas of the tables used below for convenience, but in this problem you will need to construct your own test tables if you wish to use them to check your answers!

In [114]:
%%sql
DROP TABLE IF EXISTS T; CREATE TABLE T (A INT, B INT, C INT, D INT);
DROP TABLE IF EXISTS Dog; CREATE TABLE Dog(dog_name TEXT, breed TEXT, owner_name TEXT);
DROP TABLE IF EXISTS Owner; CREATE TABLE Owner(owner_name TEXT, ssn INT, hometown TEXT);
DROP TABLE IF EXISTS S; CREATE TABLE S (A INT, B INT, C INT);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Part (a)

**_[5 points]_**

$\{A, B\}$ is a **superkey** for a relation $T(A,B,C,D)$.

In [96]:
%%sql
--(A,B) should be unique 
SELECT A, B
FROM T as t
WHERE 
    (1 <= (SELECT COUNT(*) FROM T as t2 WHERE t2.A = t.A AND t2.B = t.B AND (t2.C != t.C or t2.D != t.D)))

Done.

[]

### Part (b)

**_[5 points]_**

The individual attributes of a relation $T(A,B,C,D)$ are each keys.

In [115]:
%%sql
--A, B, C, D should all be unique 
SELECT A, B, C, D
FROM T as t
WHERE
    (1 <= (SELECT COUNT(*) FROM T as t2 WHERE t2.A = t.A AND (t2.B != t.B or t2.C != t.C or t2.D != t.D)))
    OR
    (1 <= (SELECT COUNT(*) FROM T as t2 WHERE t2.B = t.B AND (t2.A != t.A or t2.C != t.C or t2.D != t.D)))
    OR
    (1 <= (SELECT COUNT(*) FROM T as t2 WHERE t2.C = t.C AND (t2.A != t.A or t2.B != t.B or t2.D != t.D)))
    OR
    (1 <= (SELECT COUNT(*) FROM T as t2 WHERE t2.D = t.D AND (t2.A != t.A or t2.B != t.B or t2.C != t.C)))

Done.

[]

### Part (c)

**_[5 points]_**

A **multivalued dependency (MVD)** is defined as follows: let $R$ be a schema i.e. a set of attributes, and consider two _sets of attributes_ $X\subseteq R$ and $Y\subseteq R$.  We say that a multivalued dependency (MVD), written:

$X\twoheadrightarrow Y$

**holds on $R$** if whenever there are two tuples $t_1,t_2$ such that $t_1[A] = t_2[A]$, there also exists a third tuple $t_3$ such that:

* $t_3[A] = t_1[A] = t_2[A]$
* $t_3[B] = t_1[B]$
* $t_3[R\setminus B] = t_2[R\setminus B]$

Note that $R\setminus B$ is all the attributes in $R$ that are not in $B$, and that $t_3$ need not be distinct from $t_1$ or $t_2$.  Note especially that an MVD holds on an entire _relation_, meaning that any two tuples (in any order) in the relation should satisfy the above conditions if the MVD holds.  **See the end of the lecture 7 slides for more on MVDs!**


In this problem, write your query to check if the MVD $\{A\}\twoheadrightarrow \{B,D\}$ holds for a relation $T(A,B,C,D)$

In [47]:
%%sql
SELECT *
FROM T AS t1, T AS t2
WHERE t1.A = t2.A AND NOT EXISTS (
    SELECT *
    FROM T AS t3
    WHERE t3.A = t1.A
        AND (t3.B = t1.B AND t3.D = t1.D)
        AND t3.C = t2.C);

Done.

[]

### Part (d)

**_[5 points]_**

A _tuple-generating dependency (TGD)_ between two relations $A$ and $B$, having some shared attributes $X_1,...,X_n$, holds if, for every tuple $t_A$ in $A$, there is _some_ tuple $t_B$ in $B$ such that $t_A[X_i] = t_B[X_i]$ for $i=1,...n$.

In other words, for every distinct tuple in $A$, there must exist a corresponding tuple in $B$, which has the same values of shared attributes.

Consider two tables `Dog(dog_name, breed, owner_name)` and `Owner(owner_name, ssn, hometown)`; check for a TGD between them:

In [89]:
%%sql 
SELECT owner_name
FROM Dog as d1
WHERE NOT EXISTS(
    SELECT *
    FROM Owner as o1
    WHERE d1.owner_name = o1.owner_name)
UNION ALL
SELECT owner_name
FROM Owner as o1
WHERE NOT EXISTS(
    SELECT *
    FROM Dog as d1
    WHERE d1.owner_name = o1.owner_name);

Done.

[]

Problem 2
---------

**_[20 points total]_**

### Part (a)

**_[10 points]_**

Consider a relation $R(A,B,C,D,E)$.  Provide _two different sets_ of functional dependencies, `F_1` and `F_2`, such that each one results in $R$ having the **largest number of distinct keys** $R$ could possibly have.

Store your lists of FDs as python lists having elements that are _pairs of sets_; for example to set `F_1` as the set consisting of two FDs, $\{A,B\}\rightarrow\{C,D\}$ and $\{B\}\rightarrow\{C\}$:

```python
F_1 = [(set(['A','B']), set(['C','D'])), (set(['B']), set(['C']))]
```

*Note: the above is not necessarily one of the FDs- just an example of the syntax!

*Hint: You may use any of the functions from the lecture activities if they seem helpful!  However your final answer should not involve these functions directly, nor are they necessary for this problem

*Hint: See Activity 5-3...

In [11]:
def to_set(x):
    if type(x) == set:
        return x
    elif type(x) in [list, set]:
        return set(x)
    elif type(x) in [str, int]:
        return set([x])
    else:
        raise Exception("Unrecognized type.")
def fd_to_str((lhs,rhs)): return ",".join(to_set(lhs)) + " -> " + ",".join(to_set(rhs))
def fds_to_str(fds): return "\n\t".join(map(fd_to_str, fds))
def set_to_str(x): return "{" + ",".join(x) + "}"
def fd_applies_to(fd, x): 
    lhs, rhs = map(to_set, fd)
    return lhs.issubset(x)
def compute_closure(x, fds, verbose=False):
    bChanged = True        # We will repeat until there are no changes.
    x_ret    = to_set(x).copy()    # Make a copy of the input to hold x^{+}
    while bChanged:
        bChanged = False   # Must change on each iteration
        for fd in fds:     # loop through all the FDs.
            (lhs, rhs) = map(to_set, fd) # recall: lhs -> rhs
            if fd_applies_to(fd, x_ret) and not rhs.issubset(x_ret):
                x_ret = x_ret.union(rhs)
                if verbose:
                    print("Using FD " + fd_to_str(fd))
                    print("\t Updated x to " + set_to_str(x_ret))
                bChanged = True
    return x_ret

In [12]:
def is_superkey_for(A, X, fds, verbose=False): 
    return X.issubset(compute_closure(A, fds, verbose=verbose))

In [13]:
import itertools
def is_key_for(A, X, fds, verbose=False):
    subsets = set(itertools.combinations(A, len(A)-1))
    return is_superkey_for(A, X, fds) and \
        all([not is_superkey_for(set(SA), X, fds) for SA in subsets])

In [16]:
R = set(['A','B','C','D','E'])

F_1 = [(set(['A','B']), set(['C','D','E'])),
     (set(['A','C']), set(['B','D','E'])),
     (set(['A','D']), set(['C','B','E'])),
     (set(['A','E']), set(['C','D','B'])),
     (set(['B','C']), set(['A','D','E'])),
     (set(['B','D']), set(['A','C','E'])),
     (set(['B','E']), set(['A','D','C'])),
     (set(['C','D']), set(['A','B','E'])),
     (set(['C','E']), set(['A','B','D'])),
     (set(['D','E']), set(['A','B','C']))]
     
print is_key_for(set(['A','B']), R, F_1)
print is_key_for(set(['A','C']), R, F_1)
print is_key_for(set(['A','D']), R, F_1)
print is_key_for(set(['A','E']), R, F_1)
print is_key_for(set(['B','C']), R, F_1)
print is_key_for(set(['B','D']), R, F_1)
print is_key_for(set(['B','E']), R, F_1)
print is_key_for(set(['C','D']), R, F_1)
print is_key_for(set(['C','E']), R, F_1)
print is_key_for(set(['D','E']), R, F_1)

F_2 = [(set(['A','B','C']), set(['D','E'])),
     (set(['A','B','D']), set(['C','E'])),
     (set(['A','B','E']), set(['C','B'])),
     (set(['A','C','D']), set(['B','E'])),
     (set(['A','C','E']), set(['B','D'])),
     (set(['A','D','E']), set(['B','C'])),
     (set(['B','C','D']), set(['A','E'])),
     (set(['B','C','E']), set(['A','D'])),
     (set(['B','D','E']), set(['A','C'])),
     (set(['C','D','E']), set(['A','B']))]
    
print is_key_for(set(['A','B','C']), R, F_2)
print is_key_for(set(['A','B','D']), R, F_2)
print is_key_for(set(['A','B','E']), R, F_2)
print is_key_for(set(['A','C','D']), R, F_2)
print is_key_for(set(['A','C','E']), R, F_2)
print is_key_for(set(['A','D','E']), R, F_2)
print is_key_for(set(['B','C','D']), R, F_2)
print is_key_for(set(['B','C','E']), R, F_2)
print is_key_for(set(['B','D','E']), R, F_2)
print is_key_for(set(['C','D','E']), R, F_2)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

### Part (b)

**_[10 points]_**

Consider a schema $R(A_1,...,A_n)$ which has FDs $\{A_i,A_{i+1}\}\rightarrow\{A_{i+2}\}$ for $i=1,...,n-2$.  Create an instance of $R$, for $n=4$, for which these FDs hold, and no other ones do- i.e. **all other FDs are violated.**

Use a series of `INSERT` statements below to populate the table `R`:

In [117]:
%%sql
DROP TABLE IF EXISTS R; 
CREATE TABLE R (A int, B int, C int, D int);
INSERT INTO R VALUES(0,0,0,0);
INSERT INTO R VALUES(0,1,0,1);
INSERT INTO R VALUES(1,0,1,0);
INSERT INTO R VALUES(1,1,1,1);
INSERT INTO R VALUES(2,2,0,0);

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Problem 3
---------

**_[20 points total]_**

Consider a relation $R(X,Y,Z)$.  In each part of this problem you will be given a condition, and you need to create the following three instances of $R$ (as tables in SQL):

1. An instance $A$
2. An instance $B$ which differs from $A$ only in that it has one **_fewer_** row.
3. An instance $C$ which differs from $A$ only in that it has one **_additional_** row.

### Part (a)

**_[10 points]_**

Create $A$, $B$ and $C$ such that each individual attribute is a key for $A$, but none of the individual attributes is a key for $B$ or $C$.  If you believe that $B$ and/or $C$ cannot be created, provide them as an empty table.

In [19]:
%%sql
DROP TABLE IF EXISTS A; 
DROP TABLE IF EXISTS B; 
DROP TABLE IF EXISTS C; 
CREATE TABLE A (X int, Y int, Z int);
CREATE TABLE B (X int, Y int, Z int);
CREATE TABLE C (X int, Y int, Z int);

Done.
Done.
Done.
Done.
Done.
Done.

[]

### Part (b)

**_[10 points]_**

Create $A$, $B$ and $C$ such that the MVD $Z\twoheadrightarrow X$ holds in $A$, but not in $B$ or $C$.  If you believe that $B$ and/or $C$ cannot be created, provide them as an empty table.

In [20]:
%%sql
DROP TABLE IF EXISTS A; 
DROP TABLE IF EXISTS B; 
DROP TABLE IF EXISTS C; 
CREATE TABLE A (X int, Y int, Z int);
CREATE TABLE B (X int, Y int, Z int);
CREATE TABLE C (X int, Y int, Z int);

INSERT INTO A VALUES(1,2,0);
INSERT INTO A VALUES(2,1,0);
INSERT INTO A VALUES(1,1,0);
INSERT INTO A VALUES(2,2,0);

INSERT INTO B VALUES(1,2,0);
INSERT INTO B VALUES(2,1,0);
INSERT INTO B VALUES(1,1,0);

INSERT INTO C VALUES(1,2,0);
INSERT INTO C VALUES(2,1,0);
INSERT INTO C VALUES(1,1,0);
INSERT INTO C VALUES(2,2,0);
INSERT INTO C VALUES(1,3,0);

Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Bonus Problem:
-------------

**_[10 points]_**

Prove the **transitivity rule for MVDs**

If $A\twoheadrightarrow B$ and $B\twoheadrightarrow C$ $\implies$ $A\twoheadrightarrow C \setminus B$

using only the basic definition of an MVD; and where $A,B,C$ are _sets of_ attributes such that $A\cup B\cup C\subseteq R$, where $R$ is the full set of attributes.

In [116]:
From A↠B We know 
    t3[A]=t1[A]=t2[A]
    t3[B]=t2[B]
And From B↠C We know
    t3[B]=t1[B]=t2[B]
    t3[C]=t2[C]
    t3[R\C]=t2[R\C]
So we can say
    t3[A]=t1[A]=t2[A]
    t3[B]=t2[B]
    t3[C]=t2[C]
    t3[R\C]=t2[R\C]
Which IS
    t3[A]=t1[A]=t2[A]
    t3[C]=t2[C]
    t3[R\C] ∪ t3[B]=t2[R\C] ∪ t2[B]    
AS C\B ⊆ C we can say
    t3[A]=t1[A]=t2[A]
    t3[C\B]=t2[C\B]
    t3[R\C] ∪ t3[B]=t2[R\C] ∪ t2[B]  
And AS R ∖ (C ∖ B)  =  (R ∖ C) ∪ (B)
We can say
    t3[A]=t1[A]=t2[A]
    t3[C\B]=t2[C\B]
    t3[R\(C\B)]=t2[R\(C\B)] 

This is the define for A↠C∖B

SyntaxError: invalid syntax (<ipython-input-116-12cb8e6d5ad4>, line 1)